*
{
    margin:0px;
    padding:0px;
}

#octocat
{
    display: block;
    width:384px;
    margin: 50px auto;
}

p
{
    display: block;
    width: 400px;
    margin: 50px auto;
    font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#rainbow-message
{
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: -5px 10px 15px gray;
    -moz-box-shadow: -5px 10px 15px gray;
    font-family: sans-serif;
}

#header
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

#header h1
{
    color: #005;
}


#footer
{
    text-align: center;
    color: #444;
    padding-top: 100px;
    font-size: 9pt;
}
